# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
*.so









# Django static/media files
/static/
/media/

# Environment
.env
venv/
*.sqlite3

# IDEs and OS
.vscode/
.idea/
.DS_Store

# Logs
*.log

# Migrations (optional if you're regenerating them)
**/migrations/
!**/migrations/__init__.py


# Ignore all files in data directory
data/*


# Danger: ignores all commands in the project

